/.direnv/
/__pycache__/
.ipynb_checkpoints/
.env
/experiment_info.json
data/*
.dvc/
dataset.csv
confusion_matrix*.png
model_building_errors.log
model_evaluation_errors.log
model_registration_errors.log
errors.log
mlruns
reddit_preprocessing.csv 
preprocessing_errors.log
experiment_4_handling_imbalanced_data.ipynb
experiment_5_xgboost_with_hpt.ipynb      
experiment_7_stacking.ipynb
experiment_6_lightgbm_detailed_hpt.ipynb 
src/
ec2-13-50-222-188.eu-north-1.compute.amazonaws.com/*