/.direnv/
/__pycache__/
.ipynb_checkpoints/
.env
/lgbm_model.pkl
/tfidf_vectorizer.pkl
/experiment_info.json
data/*
.dvc/
dataset.csv
confusion_matrix*.png
model_building_errors.log
model_evaluation_errors.log
model_registration_errors.log
errors.log

